body{
  margin: 0;
  overflow: clip;
  background: #1B2021;
  font-family: 'DM Serif Display', serif;  
}

main{
  position: fixed;
  display: flex;
  top: 0;
  height: 100vh;
}

canvas{
  width: 100%;
  height: 100%;
  margin: auto;
  position: fixed;
    background-position: center;
    transform:scale(1);
}

.container{
  z-index: 2;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: white;
  font-size: 6rem;
    font-weight: 100;
    opacity: 0.8;
}

a{text-decoration: none;color:#222222;}
.header {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  font-family: 'Antic Didone', sans-serif;
}
.header-logo {
  position:fixed;
  top:8px;
  left:20px;
  width:35px;
  opacity: 0.9;    
}
.header-logo img {
  margin-bottom: -0.05rem;
    width:100%;
    display:block;    
}
.header-menu {
  position: fixed;
  right:0;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;    

}

.header-item {
  position: relative;
  min-width: 2.56rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  margin:0 20px;
    transition: 0.3s;
}
.header-item:hover{color:#2CA5D3;transition: 0.3s;}
.header-menu ul li{ font-family: "Antic Didone", serif;}
.header-menu a{font-size:20px;color:#ffffff;}

.title{position:fixed;top:1.5em;left:50%;transform:translate(-50%,-50%);font-size:2.2em;color:#ffffff;text-align: center;}
.slide__project{transition: 0.3s;font-family: 'Antic Didone', sans-serif;}
.slide__project:hover{color:#2CA5D3;transition: 0.3s;}

.container ul{font-size:26px;list-style: none;color:#222222;}


.footer{position:absolute;bottom:40px;font-weight:100; color:#ffffff;opacity:0.8;}


@media screen and (max-width:768px) {
    .header-menu a{font-size:16px;}
    .header-item{margin:0 15px;}
    .container{display:block;}
    .container h1{width:100%;text-align: center; font-size:60px;position: absolute;left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);}
    .container ul{padding-left: 0;position: absolute;left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);}
    .footer{width:100%;text-align: center; left: 50%;width:100%;
    transform: translate(-50%,-50%);font-size:12px;}
    
}